    <div class="header">
    <%= render "/shared/header"%>
    </div>
<div>料理詳細ページ</div>
<div id ="show-food-details">
  <div><%= @food.name %></div>
  <div><%= image_tag @food.image, size: "300x300" %></div>
  <div><%= @food.ways %></div>
  <%if current_user.id == @food.user.id %>
  <div>   <%= link_to "編集する",  edit_food_path(@food.id)%></div>
  <%end %>
</div>